RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d



RewriteCond $1 !^(index\.php|private)





RewriteRule ^(.*)$ /upvc/site_mostafa/index.php/$1 [L]





